<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Login</title>
<link rel="stylesheet" th:href="@{/css/style.css}" href=“../../css/style.css”/>
</head>
<body>
  <div class="center-elements">
    <form name="login_form" th:action="@{/login}" method="post">
       <h1 style="color: red; background: black;">Sign in</h1>
       <div th:if="${param.error}">
           Invalid email and password.
       </div>
       <div>
         <label>Email address:</label>
           <input type="email" name="email" id="inputEmail" placeholder="Email" required/>
         <label>Password:</label>
           <input type="password" name="password" id="inputPassword" placeholder="Password" required>
       </div>
       <br>
         <button name="Sign in" id="login_button" type="submit">Sign in</button>
     </form>
     or
     <a th:href="@{/registration}"><button id="registration_button">Register</button></a>
   </div>
</body>
</html>